[user]
    name = Fadi Serapian
    email = fadi.serapian@gmail.com
[core]
    editor = vim
[color]
    ui = true
[alias]
    lg = log --all --decode --graph --online
    g = git
    st = status
    s = status --short
    br = branch
    co = checkout
[init]
    defaultBranch = main
